<!DOCTYPE html>

<html>
    {% load static %}

<head>
    <title>Faq Page</title>
    <link rel="stylesheet" href="{% static 'uta_user/styles.css' %}">
</head>

<body>
    <h1>Here is some information about our site</h1>

    <a href="https://eccles.utah.edu/">DESB Home</a> 

    <div>
        this is content in the div with no class or id
        <img src="{% static 'uta_user/heart.svg' %}" alt="My image">
    </div>

    <div id="custom-id-style">
        blah blah blah
    </div>

    <div class="custom-class-style">
        blah blah blah
    </div>

    <div id="custom-id-style">
        blah blah blah
    </div>


    <!--This is a comment-->
</body>



</html>