<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>456 Movies.com</title>
        <link rel="stylesheet" href="{% static 'user_app/styles.css' %}">
    </head>
<body>
    <h1>Home</h1>
 <p>
Welcome home! Click below to go to see movies or actors. 
<br>
<br>
<a href="{% url 'movie-list' %}">List Movies</a>
<br>
<br>
<a href="#">List Actors</a>
<br>
<br>
</p>


<img src="{% static 'user_app/456_Movies.png' %}" alt="456_Movies" style="max-width: 1690px;">


<div class="one">
    <br>
    <br>
    <br>
    </div>
    
</body>

</html>