<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Movie List</title>
        <link rel="stylesheet" href="{% static 'user_app/styles.css' %}">
    </head>
<body>
<div>
<h1>Movie List</h1>
<ul>

<li><a href="{% url 'user-home' %}">Home</a></li>

<li><a href="{% url 'movie-add' %}">Add Movie</a></li>

<li><a href="{% url 'movie-detail' %}">Movie Details</a></li>

<li><a href="{% url 'movie-update' %}">Movie Update</a></li>

<li><a href="{% url 'movie-delete' %}">Movie Delete</a></li>
</ul>
</div>
<br>
<br>
<div>
    <br>
    <h2>Inception</h2>
    <img src="{% static 'user_app/Inception.jpg' %}" alt="Inception">
</div>
<br>
<br>
<br>
<div>
    <br>
    <h2>Monkeyman</h2>
    <img src="{% static 'user_app/Monkeyman.jpg' %}" alt="Inception">
</div>
<br>
<br>
<br>
<div>

</div>
<br>
<div>
    Movie
</div>
<br>
<div>
    Movie
</div>
</body>

</html>