<!DOCTYPE html>
<html>
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'user_app/styles.css' %}">
</head>

<body>

    <h1>
        Movie Detail Page
    </h1>
    <div class="one"> 
        <br>
        <br>
    <img src="{% static 'user_app/Monkeyman.jpg' %}" alt="My image" style="max-width: 900px">

    
        <ul>
            <li> Title: Monkey Man (2024)</li>
            <li> Writers: John Collee, Paul Angunawela, Dev Patel </li>
            <li> Producer: Jordan Peele</li>
            <li> Director: Dev Patel</li>
            <li> Imdb rating: 6.9/10</li>
            <li> Genre: Action</li>
        </ul>
        "Monkey Man" is an action thriller directed by and starring Dev Patel, making his directorial debut. The film centers around an anonymous young man, known as Kid, who embarks on a quest for vengeance <br> against corrupt leaders responsible for his mother's death and the systemic victimization of the poor and powerless. The story intertwines elements of Indian mythology, particularly the legend of Hanuman, with social commentary <br>
        on corruption, discrimination, and the plight of marginalized communities, including the Hijra community in India.

        The film features intense, brutal action sequences and a deeply emotional narrative, exploring themes of trauma, redemption, <br>
         and justice. Kid, after enduring years of hardship, trains rigorously and ultimately confronts the corrupt figures, including a fake guru named Baba Shakti and a ruthless police chief, Rana Singh, who were responsible for his village's destruction.
        
         <br>
         <br>
         <br>
    </div>
    <p>
        <br>
        <a href="{% url 'movie-list' %}">Back to Movie List</a>
        <br>
        <br>
    </p>

</body>

</html>